# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Private Project Configuration
nbproject/private*
nbproject/Makefile*
nbproject/Package*
funclist

# build/dist folders
build/
dist/

# object files
*.obj
